# this file contains the keys only for reference
# actual keys and values are in .env.local which is gitignored
# create a copy of this file as .env.local and add the actual values
# eg. create a copy named ".env.production.local" and add values to these variables.
ACTLABS_SERVER_FDPO_SERVICE_PRINCIPAL_SECRET=""
PROTECTED_LAB_SECRET=""
SSL_CERTIFICATE_PASSWORD=""